<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="${post.title}">Название поста</title>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<header>
    <h1><a href="/web-blog/post" style="text-decoration: none; color: inherit;">Блог</a></h1>
</header>
<div class="main-content page-container">
    <h2 class="post-title" th:text="${post.title}">Название поста</h2>
    <img th:if="${post.getImageName()}" class="post-image" th:src="@{/image/{name}(name=${post.getImageName})}" alt="Image"/>
    <div class="post-content">
        <p th:each="content : ${post.content}" th:text="${content}"></p>
    </div>
    <div class="post-tags">
        <span th:each="tag : ${post.tags}" th:text="${tag}" class="tag"></span>
    </div>
    <div class="post-actions">
        <button class="edit-button" onclick="togglePostForm()">Редактировать</button>
        <button class="delete-button" th:onclick="deletePost([[${post.id}]])">Удалить</button>
    </div>

    <div class="post-stats">
        <button class="like-button" th:onclick="likePost([[${post.id}]])">Мне нравится</button>
        <span id="like-count" th:text="${post.likeCount} + ' ❤️'"></span>
    </div>

    <div class="comments-section">
        <h3>Комментарии</h3>
        <ul class="comments-list">
            <li th:id="'li' + ${iter.index}" th:data-index="${iter.index}" th:each="comment, iter : ${post.comments}"
                class="comment">
                <span th:id="'span' + ${iter.index}"
                      th:onclick="enableEditing([[${iter.index}]])"
                      th:text="${comment.content}"
                      class="comment-text">
                </span>
                <textarea th:id="'textarea' + ${iter.index}"
                          class="edit-comment-field"
                          th:onkeyup="updateCommentKeyUp(event, [[${iter.index}]], [[${comment.id}]], [[${post.id}]])"
                          th:onblur="updateCommentOnBlur(event, [[${iter.index}]], [[${comment.id}]], [[${post.id}]])"
                          style="display: none;">
                </textarea>
                <button class="delete-comment-button" th:onclick="deleteComment([[${comment.id}]], [[${iter.index}]])">
                    🗑️
                </button>
            </li>
        </ul>

        <div class="add-comment">
            <textarea id="newComment" placeholder="Добавить комментарий"></textarea>
            <button class="add-comment-button" th:onclick="addComment([[${post.id}]])">Добавить</button>
        </div>
    </div>

    <div id="postForm" class="post-form" style="display: none;">
        <h2>Изменить пост</h2>
        <form th:action="@{/post/{id}/edit(id=${post.id})}" method="post" th:object="${editPost}"
              enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="text" name="title" th:field="*{title}" placeholder="Название поста" required>
            <input type="hidden" th:field="*{imageName}">
            <span th:if="${post.imageName != null}">
                <label for="is-delete-image">Удалить изображение?</label>
                <input id="is-delete-image" th:field="*{isNeedDeleteImage}" type="checkbox" onchange="toggleFileInput(this)">
            </span>
            <input id="file-input" type="file" name="image" accept="image/*"
                   th:style="${post.imageName != null} ? 'display: none;' : ''">
            <textarea name="content" th:field="*{content}" placeholder="Текст поста" required></textarea>
            <input type="text" name="tags" th:field="*{tags}" placeholder="Теги (через запятую)" required>
            <button type="submit">Cохранить</button>
            <button type="button" onclick="togglePostForm()">Закрыть</button>
        </form>
    </div>
</div>

<footer>
    <p>© 2025 Блог</p>
</footer>
</body>
</html>